# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Tanzanite Core
Comment=Tanzanite Core QT main network
GenericName=Tanzanite Digital Currency QT client main network
Exec=tanzanite-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/tanzanite.png
MimeType=x-scheme-handler/tanzanite;
Categories=X-Office;X-Finance;
Keywords=internet;tanzanite;zpiv;piv;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_US]=tanzanite-qt.desktop
